.aside {
  height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 36px 28px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;

  &__user{
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    transition: all 0.4s ease;

    &:hover {
      .aside__user__chevron {
        transform: rotate(90deg);
        color: var(--primary);
      }

      border-color: var(--primary);

    }

    &__chevron {
      width: 22px;
      height: 22px;
      color: #757575;
      transition: all 0.4s ease;
    }

    &__info {
      flex: 2;

      &-name {
        margin-bottom: 5px;
      }
      &-role {
        font-size: 12px;
        color: #757575;
      }
    }
  }
}
