.card {
  padding-top: 36px;
  padding-bottom: 40px;
  margin-top: 56px;
  box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;

  border-radius: 30px;
  background: #fff;

  &__header {
    padding: 0 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &__footer {
    margin-top: 28px;
    padding: 0 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  
  &__footer-info {
    color: #b5b7c0;
  }
}
