.input {
  width: 180px;
  border: none;
  background: #f9fbff;
  font-size: 12px;

  &__container {
    display: flex;
    align-items: center;
    background: #f9fbff;
    border-radius: 10px;
    padding: 7px 8px;
  }

  &__icon {
    color: #7e7e7e;
    width: 24px;
    height: 24px;
    padding-right: 8px;
  }

  &:focus {
    outline: none;
    caret-color: var(--primary);

    &::placeholder {
      color: transparent;
    }

  }

  &::placeholder {
    color: #b5b7c0;
  }
}