.nav {
  padding-top: 43px;
  overflow-y: auto;
  flex: 2;

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__link {
    width: 228px;
    display: flex;
    align-items: center;
    gap: 13px;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 9px;
    margin-top: 9px;
    border: 3px solid transparent;
    text-decoration: none;
    color: var(--gray);
    transition: all 0.4s ease;

    & > span {
      flex: 2;
    }

    &:hover {
      border-color: var(--primary);
      color: var(--primary);
    }

    &--active {
      background: var(--primary);
      color: white;
      margin-top: 10px;

      &:hover {
        border-color: var(--primary);
        color: white;
      }
    }

    &-icon {
      width: 24px;
      height: 24px;
    }

    &-chevron {
      width: 16px;
      height: 16px;
    }
  }
}
