.pagination{
  display: flex;
  align-items: center;
  gap: 12px;

  &__button {
    padding: 6px 9px;
    color: #404B52;
    background: #F5F5F5;
    border: 1px solid #EEEEEE;
    border-radius: 4px;

    &:hover {
      border-color: var(--primary);
      color: var(--primary);
      background: #F5F5F5;
    }

    &.active {
      background: var(--primary);
      border-color: var(--primary);
      color: #fff;
    }

    &__icon{ 
      width: 8px;
      height: 12px;
      
    }
  }

  &__numbers {
    display: flex;
    align-items: end;
    gap: 12px;
  }
}