.table {
  padding-top: 25px;

  &__head {
    color: #b5b7c0;
    border-bottom: 1px solid #eeeeee;
  }

  &__row {
    width: 100%;
    padding-left: 38px;
    display: flex;
    align-items: center;
  }

  &__col {
    flex: 1;
    padding: 19.5px 0px;
    border-bottom: 1px solid #eeeeee;
  }
}