doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Dashboard
    meta(name="description" content="Put your description here.")
    link(rel="stylesheet" href="css/main.css")
  body
    .container 
      aside.aside 
        img(src="image/logo.png" alt="logo").aside__logo
        nav.nav
          ul.nav__list
            li.nav__item
              a(href="").nav__link
                svg.nav__link-icon
                  use(xlink:href=`icons/sprite.svg#dashboard`)
                span Dashboard
            li.nav__item
              a(href="").nav__link
                svg.nav__link-icon
                  use(xlink:href=`icons/sprite.svg#product`)
                span Product
                svg.nav__link-chevron
                  use(xlink:href=`icons/sprite.svg#chevron`)
            li.nav__item
              a(href="").nav__link.nav__link--active
                svg.nav__link-icon
                  use(xlink:href=`icons/sprite.svg#customers`)
                span Customers
                svg.nav__link-chevron
                  use(xlink:href=`icons/sprite.svg#chevron`)
            li.nav__item
              a(href="").nav__link
                svg.nav__link-icon
                  use(xlink:href=`icons/sprite.svg#income`)
                span Income
                svg.nav__link-chevron
                  use(xlink:href=`icons/sprite.svg#chevron`)
            li.nav__item
              a(href="").nav__link
                svg.nav__link-icon
                  use(xlink:href=`icons/sprite.svg#promote`)
                span Promote
                svg.nav__link-chevron
                  use(xlink:href=`icons/sprite.svg#chevron`)
            li.nav__item
              a(href="").nav__link
                svg.nav__link-icon
                  use(xlink:href=`icons/sprite.svg#help`)
                span Help
                svg.nav__link-chevron
                  use(xlink:href=`icons/sprite.svg#chevron`)
        a(href="").aside__user
          .avatar
            img(src="image/photo.png" alt="photo").avatar__img
          .aside__user__info
            p.aside__user__info-name Evano
            p.aside__user__info-role Project Manager

      main.main 
        p.display.display--lg Hello Evano 👋🏼,
        .card
          .card__header
            .card__info
              h1.card__title All Customers
              p(class="card__description color-green") Active Members
            form.card__search
              .input__container
                svg(class="input__icon")
                  use(xlink:href=`icons/sprite.svg#search`)
                input(type="text" class="input card__search__input" placeholder="Search")
          .table 
            .table__head
              .table__row
                .table__col Customer Name
                .table__col Company
                .table__col Phone Number
                .table__col Email
                .table__col Country
                .table__col Status
            .table__row 
              .table__col Jane Cooper
              .table__col Microsoft
              .table__col (225) 555-0118
              .table__col jane@microsoft.com
              .table__col United States
              .table__col 
                button.button.button--active Active
            .table__row 
              .table__col Floyd Miles
              .table__col Yahoo
              .table__col (205) 555-0100
              .table__col floyd@yahoo.com
              .table__col Kiribati
              .table__col 
                button.button.button--inactive Inactive
            .table__row 
              .table__col Jane Cooper
              .table__col Microsoft
              .table__col (225) 555-0118
              .table__col jane@microsoft.com
              .table__col United States
              .table__col 
                button.button.button--active Active
            .table__row 
              .table__col Floyd Miles
              .table__col Yahoo
              .table__col (205) 555-0100
              .table__col floyd@yahoo.com
              .table__col Kiribati
              .table__col 
                button.button.button--inactive Inactive
            .table__row 
              .table__col Jane Cooper
              .table__col Microsoft
              .table__col (225) 555-0118
              .table__col jane@microsoft.com
              .table__col United States
              .table__col 
                button.button.button--active Active
            .table__row 
              .table__col Floyd Miles
              .table__col Yahoo
              .table__col (205) 555-0100
              .table__col floyd@yahoo.com
              .table__col Kiribati
              .table__col 
                button.button.button--inactive Inactive
            .table__row 
              .table__col Floyd Miles
              .table__col Yahoo
              .table__col (205) 555-0100
              .table__col floyd@yahoo.com
              .table__col Kiribati
              .table__col 
                button.button.button--inactive Inactive
            .table__row 
              .table__col Jane Cooper
              .table__col Microsoft
              .table__col (225) 555-0118
              .table__col jane@microsoft.com
              .table__col United States
              .table__col 
                button.button.button--active Active
          .card__footer
            p.card__footer-info Showing data 1 to 8 of  256K entries
            nav.pagination
              button.button.pagination__button 
                svg.pagination__button-icon
                  use(xlink:href=`icons/sprite.svg#left-arrow`)
              .pagination__numbers
                button.button.pagination__button.pagination__button--active 1
                button.button.pagination__button 2
                button.button.pagination__button 3
                button.button.pagination__button 4
                p ...
                button.button.pagination__button 40
              button.button.pagination__button
                svg.pagination__button-icon
                  use(xlink:href=`icons/sprite.svg#right-arrow`)


    script(src="js/main.js")
