doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Dashboard
    meta(name="description" content="Put your description here.")
    link(rel="stylesheet" href="css/main.css")
  body
    .container 
      aside.aside 
        img(src="image/logo.png" alt="logo").aside__logo
        nav.nav
          ul.nav__list
            li.nav__item
              a(href="").nav__link
                svg.nav__link__icon
                  use(xlink:href=`icons/sprite.svg#dashboard`)
                p.nav__link__title Dashboard
            li.nav__item
              a(href="").nav__link
                svg.nav__link__icon
                  use(xlink:href=`icons/sprite.svg#product`)
                p.nav__link__title Product
                svg.nav__link__chevron
                  use(xlink:href=`icons/sprite.svg#chevron`)
            li.nav__item
              a(href="").nav__link.active
                svg.nav__link__icon
                  use(xlink:href=`icons/sprite.svg#customers`)
                p.nav__link__title Customers
                svg.nav__link__chevron
                  use(xlink:href=`icons/sprite.svg#chevron`)
            li.nav__item
              a(href="").nav__link
                svg.nav__link__icon
                  use(xlink:href=`icons/sprite.svg#income`)
                p.nav__link__title Income
                svg.nav__link__chevron
                  use(xlink:href=`icons/sprite.svg#chevron`)
            li.nav__item
              a(href="").nav__link
                svg.nav__link__icon
                  use(xlink:href=`icons/sprite.svg#promote`)
                p.nav__link__title Promote
                svg.nav__link__chevron
                  use(xlink:href=`icons/sprite.svg#chevron`)
            li.nav__item
              a(href="").nav__link
                svg.nav__link__icon
                  use(xlink:href=`icons/sprite.svg#help`)
                p.nav__link__title Help
                svg.nav__link__chevron
                  use(xlink:href=`icons/sprite.svg#chevron`)
        a(href="").aside__user
          .avatar
            img(src="image/photo.png" alt="photo").avatar__img
          .aside__user__info
            p.aside__user__info-name Evano
            p.aside__user__info-role Project Manager
          svg.aside__user__chevron
            use(xlink:href=`icons/sprite.svg#chevron`)

      main.main 
        p.display Hello Evano 👋🏼,
        .card
          .card__header
            .card__info
              h1.card__title All Customers
              p(class="card__description color-green") Active Members
            form.card__search
              .input__container
                svg(class="input__icon")
                  use(xlink:href=`icons/sprite.svg#search`)
                input(type="text" class="input card__search__input" placeholder="Search")
          table.table 
            thead.table__head
              tr.table__row
                th.table__col Customer Name
                th.table__col Company
                th.table__col Phone Number
                th.table__col Email
                th.table__col Country
                th.table__col Status
            tbody.table__body
              tr.table__row 
                th.table__col Jane Cooper
                th.table__col Microsoft
                th.table__col (225) 555-0118
                th.table__col jane@microsoft.com
                th.table__col United States
                th.table__col 
                  button.button.button--active Active
              tr.table__row 
                th.table__col Floyd Miles
                th.table__col Yahoo
                th.table__col (205) 555-0100
                th.table__col floyd@yahoo.com
                th.table__col Kiribati
                th.table__col 
                  button.button.button--inactive Inactive
          .card__footer
            p.card__table-info Showing data 1 to 8 of  256K entries
            nav.pagination
              button.button.pagination__button 
                svg.pagination__button__icon
                  use(xlink:href=`icons/sprite.svg#left-arrow`)
              .pagination__numbers
                button.button.pagination__button.active 1
                button.button.pagination__button 2
                button.button.pagination__button 3
                button.button.pagination__button 4
                p ...
                button.button.pagination__button 40
              button.button.pagination__button
                svg.pagination__button__icon
                  use(xlink:href=`icons/sprite.svg#right-arrow`)


    script(src="js/main.js")
